<header>
  <nav class="menu fixed-top d-flex align-items-center justify-content-between bg-gradient-x">
    <a class="navbar-brand" routerLink="" routerLinkActive="active">
      <h1 class = "titulo display-3" >Icaro Sanches</h1>
    </a>

    <ng-template #content let-offcanvas>
      <div class="offcanvas-header">
        <h1 class="offcanvas-title">Menu</h1>
        <button type="button" class="btn-close" aria-label="Close" (click)="offcanvas.dismiss('Cross click')"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav">
          <li class="nav-item nav-link">
            <a class="nav-link active" routerLink="" routerLinkActive="active" >Início</a>
          </li>
          <li class="nav-item nav-link">
            <a class="nav-link active" routerLink="/quem-sou" routerLinkActive="active" >Quem sou</a>
          </li>
          <li class="nav-item nav-link">
            <a class="nav-link active" routerLink="/projetos" routerLinkActive="active" >Projetos</a>
          </li>
          <li class="nav-item nav-link">
            <a class="nav-link active" routerLink="/dip-cert" routerLinkActive="active" >Cursos e certificados</a>
          </li>
          <li class="nav-item nav-link">
            <a class="nav-link active" routerLink="" >Contato</a>
          </li>
        </ul>
      </div>
    </ng-template>

    <button class="btn" (click)="openEnd(content)">
      <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="ico bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5m0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5"/>
      </svg>
    </button>
  </nav>
  <router-outlet></router-outlet>
</header>
