/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

:root{
  --back-black: #171717;
  --text-color: #F2F2F2;
  --title-color: #36D99D;
  --btn: #29A678;
  --btn-hover: #468C73;

  --back-header: #0D0D0D;
  --back-header-sec: #012623;

  --back-menu : #3C3C40;

  --rain: #50F296;

  --home-icon: #17A671;

  @keyframes animate-rain {
    0%{
      transform: translateY(-20vh);
    }
    100%{
      transform: translateY(calc(80vh + 20vh));
    }
  }

  @keyframes expand-collapse {
    0%{
      transform: scale(0.95);
    }
    100%{
      transform: scale(1);
    }
  }

  @keyframes move-finger {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(10vh);
    }
  }

  @font-face {
    font-family: 'CaskaydiaCoveNerdFontMono-Regular';
    src: url("./assets/fonts/CaskadiaCoveNerdFontMono/CaskaydiaCoveNerdFontMono-Regular.ttf") format('truetype');
  }

  @font-face {
    font-family: 'CaskaydiaCoveNerdFontMono-Light';
    src: url("./assets/fonts/CaskadiaCoveNerdFontMono/CaskaydiaCoveNerdFontMono-Light.ttf") format('truetype');
  }

  @font-face {
    font-family: 'CaskaydiaCoveNerdFontMono-Bold';
    src: url("./assets/fonts/CaskadiaCoveNerdFontMono/CaskaydiaCoveNerdFontMono-Bold.ttf") format('truetype');
  }

  @font-face {
    font-family: 'CaskaydiaCoveNerdFontMono-Italic';
    src: url("./assets/fonts/CaskadiaCoveNerdFontMono/CaskaydiaCoveNerdFontMono-Italic.ttf") format('truetype');
  }

}

*{
  font-family: 'CaskaydiaCoveNerdFontMono-Regular', monospace;
}

html{
  font-size: 62.5%;
  background-color: var(--back-black);
  color: var(--text-color);
}

body{
  font-size: 1.6rem;
  background-color: var(--back-black);
  font-family: 'Raleway', sans-serif;
  color: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: var(--title-color);
}

a{
  text-decoration: none;
  color: var(--text-color);
}

p{
  color: var(--text-color);
}

.container {
  margin: 10vh 0 15vh;
  padding:  5%;
}

.btn{
  font-size: 1.6rem !important;
  background-color: var(--btn);
  color: var(--text-color);
}

.btn:hover{
  background-color: var(--btn-hover);
}
