/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
@import '../node_modules/aos/dist/aos.css';
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root{
  --back-black: #171717;
  --text-color-light: #F2F2F2;
  --text-color: #C5C5C5;
  --title-color: #36D99D;
  --btn: #29A678;
  --btn-hover: #468C73;
  --gray: #4D4D4D;

  --back-header: #0D0D0D;
  --back-header-sec: #012623;

  --back-menu : #3C3C40;

  --rain: #50F296;

  --home-icon: #17A671;

  @keyframes animate-Y {
    0%{
      transform: translateY(-50vh);
    }
    100%{
      transform: translateY(calc(50vh));
    }
  }

  @keyframes animate-X {
    0%{
      transform: translateY(-50vw);
    }
    100%{
      transform: translateY(calc(50vw));
    }
  }

  @keyframes expand-collapse {
    0%{
      transform: scale(0.95);
    }
    100%{
      transform: scale(1);
    }
  }

  @keyframes move-finger {
    0%{
      transform: translateY(0);
    }
    100%{
      transform: translateY(10vh);
    }
  }

  @font-face {
    font-family: 'CaskaydiaCoveNerdFontMono-Regular';
    src: url("./assets/fonts/CaskadiaCoveNerdFontMono/CaskaydiaCoveNerdFontMono-Regular.ttf") format('truetype');
  }

  @font-face {
    font-family: 'CaskaydiaCoveNerdFontMono-Light';
    src: url("./assets/fonts/CaskadiaCoveNerdFontMono/CaskaydiaCoveNerdFontMono-Light.ttf") format('truetype');
  }

  @font-face {
    font-family: 'CaskaydiaCoveNerdFontMono-Bold';
    src: url("./assets/fonts/CaskadiaCoveNerdFontMono/CaskaydiaCoveNerdFontMono-Bold.ttf") format('truetype');
  }

  @font-face {
    font-family: 'CaskaydiaCoveNerdFontMono-Italic';
    src: url("./assets/fonts/CaskadiaCoveNerdFontMono/CaskaydiaCoveNerdFontMono-Italic.ttf") format('truetype');
  }

}

*{
  font-family: 'CaskaydiaCoveNerdFontMono-Regular', monospace;
}

html{
  font-size: 62.5%;
  background-color: var(--back-black);
  color: var(--text-color-light);
}

body{
  font-size: 1.6rem;
  background-color: var(--back-black);
  font-family: 'Raleway', sans-serif;
  color: var(--text-color-light);
}

h1,
h2,
h3,
h4,
h5,
h6{
  color: var(--title-color);
}

a{
  text-decoration: none;
  color: var(--text-color-light);
}

p{
  color: var(--text-color-light);
  text-align: justify;
}

.container {
  margin: 10vh auto 15vh;
  padding:  5%;
  max-width: 100vw;
}

.btn{
  font-size: 1.6rem !important;
  background-color: var(--btn);
  color: var(--text-color-light);
}

.btn:hover{
  background-color: var(--btn-hover);
}


.imgPrev {
  height: 100%;
  width: auto;
  max-width: 100%;
}

p-image span{
  height: 100%;
  width: auto;
}

.p-image-toolbar {
  background-color: var(--gray);
  border-radius: 5px;
}
