
<div class="container">
  <h1 class="titulo display-2">Repositório .net</h1>
    <p>
      Repositório para curso sobre .net pelo José Carlos Macoratti.
    </p>
    <p>
      Mostra uma Web Api, uma Web Api minima e uma Web Api minima com Dappper, todas realizando processos de CRUD
      em um banco de dados.
    </p>
    <p>
      Criado para curso sobre a ferramenta intenção de ser utilizado como material de consulta posterior.
      Atualizado de acordo com estudos sobre novos recursos, bem como com o uso para incluir ou melhorar material
      sobre a plataforma. Posteriormente é idealizado um front, além de hospedagem em um ambiente Web.
    </p>
    <p>
      Disponível no <a href="https://github.com/igfsa/dotnet">GitHub</a>.
    </p>
    <a class="btn btn-outline-secondary" href="https://macoratti.riss.com.br/webapp/swagger/index.html" target="_blank">WebApp</a>
    <a class="btn btn-outline-secondary" href="https://macoratti.riss.com.br/webapp_minapi/swagger/index.html" target="_blank">WebApp Minimal Api</a>
    <a class="btn btn-outline-secondary" href="https://macoratti.riss.com.br/webapp_minapi_dapper/swagger/index.html" target="_blank">WebApp Minimal Api Dapper</a>
</div>


