<body>

  <div class="container">

    <div class="description panel">
      <div><h1>Horizontal snapping sections</h1>
        <p>Scroll vertically to scrub the horizontal animation. It also dynamically snaps to the sections in an organic way based on the velocity. The snapping occurs based on the natural ending position after momentum is applied, not a simplistic "wherever it is when the user stops". The fading/scaling happens at a consistent rate, not based on how fast you scroll.</p>
        </div>
    </div>


    <section class="panel ">
      Sobre mim
    </section>
    <section class="panel ">
      Projetos
    </section>
    <section class="panel ">
      Diplomas e Certificados
    </section>
    <section class="panel ">
      Contato
    </section>


  </div>
</body>


