// scroll gsap

app-home {
  overscroll-behavior: none;
  height: 100vh;
}

.container {
  max-width: 600%;
  max-height: 100%;
  margin: 0;
}

.container-home {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.panel {
  height: 90vh;
  width: 100vw;
  margin: 10vh 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


