<div class = "container" >
  <h1 class="titulo">Quem Sou</h1>
  <h2 class="subtitulo">Olá, sou Ícaro Sanches, desenvolvedor em ascensão</h2>

  <div class="text">
    <p>
      Imerso no mundo da tecnologia, no momento busco me firmar como desenvolvedor. Atualmente, possuo foco na linguagem C# e
      alguns de seus frameworks, principalmente .Net e a ferramenta Angular, além de conhecimentos e experiências com
      bancos relacionais (com destaque para SQL) e conhecimentos básicos em serviços AWS.
    </p>

    <div>
      <p>
        Minha história com códigos se iniciou durante meu técnico, em 2016, quando aconteceu meu primeiro contato
        com a linguagem C e um pouco de Matlab. Com o interesse surgindo no princípio, motivado pelo "poder nas
        mãos", a "mágica" de escrever algumas linhas e ver a transformação em um programa me cativou profundamente.
      </p>
      <p>
        No ano seguinte, estudei sobre programação para controladores, sistemas supervisórios, programação em blocos,
        e desde então, sempre me mantive por perto de algum tema de programação, seja Arduino (CLP's) à códigos
        em VBA para o Excel.
      </p>
      <p>
        Por fim, no meio de 2021, decidi me aprofundar mais na area e voltei a estudar linguagens já conhecidas, mas
        também busquei novos conhecimentos. Na área de back-end fiz cursos de C, C++ e Python, e na área de front-end
        e web-design cursos de HTML, CSS e JS, além de buscar conhecer a ferramenta bootstrap Bootstrap.
      </p>
      <p>
        No final do ano de 2021, decidi me realocar no mercado e visando aumentar minhas oportunidades, optei por
        iniciar minha graduação de tecnólogo em Análise e Desenvolvimento de Sistemas. Em 2022, no primeiro ano da
        minha graduação, decidi me fixar no estudo de desenvolvimento web como full-stack, priorizando a linguagem C#
        e seus frameworks para back-end e, para front-end, a ferramenta Angular.
      </p>
      <p>
        Até a conclusão da minha faculdade, em junho de 2024, além de seguir com o estudo das ferramentas priorizadas,
        também precisei sair da minha zona de conforto por necessidades maiores. Ocasionado pela faculdade, por
        precisar de ferramentas que possibilitassem desenvolvimento de projetos com maior velocidade para alguns
        trabalhos, realizei alguns projetos com o uso da ferramenta de low-code Mendix. Em paralelo, precisei iniciar
        meus estudos relacionados a área de banco de dados, devido a uma oportunidade de estágio que consegui no ano
        de 2022.
      </p>
    </div>
  </div>

  <div class = "curiosity">
    <div id = "movies" class="section">
      <div class = "section-drawn" >
        <div id = "lightsaber-box-1" class="lightsaber-box d-flex flex-column-reverse">
          <svg id = "" class = "lightsaber" viewBox="0 0 29 113" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 53.2257L24 100L-2.29962e-07 100L2.30313e-06 53.2257L24 53.2257Z" fill="#C5C5C5"/>
            <path d="M24 44.3548L24 53.2257L2.30313e-06 53.2257L1.04129e-05 44.3548L24 44.3548Z" fill="#4D4D4D"/>
            <path d="M24 35.4838L24 44.3548L1.04129e-05 44.3548L1.85227e-05 35.4838L24 35.4838Z" fill="#C5C5C5"/>
            <path d="M24 26.6129L24 35.4838L1.85227e-05 35.4838L1.90032e-05 26.6129L24 26.6129Z" fill="#4D4D4D"/>
            <path d="M24 17.7419L24 26.6129L1.90032e-05 26.6129L1.94836e-05 17.7419L24 17.7419Z" fill="#C5C5C5"/>
            <path d="M24 8.87095L24 17.7419L1.94836e-05 17.7419L2.75934e-05 8.87095L24 8.87095Z" fill="#4D4D4D"/>
            <path d="M24 -1.76406e-07L24 8.87095L2.75934e-05 8.87095L2.80738e-05 -1.02316e-06L24 -1.76406e-07Z" fill="#C5C5C5"/>
            <path d="M29 58.8709L29 76.6129L24 76.6129L24 58.8709L29 58.8709Z" fill="#4D4D4D"/>
            <rect x="7" y="100" width="10" height="7" fill="#4D4D4D"/>
            <rect x="1" y="107" width="22" height="6" fill="#C5C5C5"/>
          </svg>
          <div #light1 class="light" [ngStyle]="{'background-color': color1}" >
            <div class="inner-light"></div>
          </div>
        </div>
        <div id = "lightsaber-box-2" class="lightsaber-box d-flex flex-column-reverse">
          <svg id = "" class = "lightsaber" viewBox="0 0 29 113" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 53.2257L24 100L-2.29962e-07 100L2.30313e-06 53.2257L24 53.2257Z" fill="#C5C5C5"/>
            <path d="M24 44.3548L24 53.2257L2.30313e-06 53.2257L1.04129e-05 44.3548L24 44.3548Z" fill="#4D4D4D"/>
            <path d="M24 35.4838L24 44.3548L1.04129e-05 44.3548L1.85227e-05 35.4838L24 35.4838Z" fill="#C5C5C5"/>
            <path d="M24 26.6129L24 35.4838L1.85227e-05 35.4838L1.90032e-05 26.6129L24 26.6129Z" fill="#4D4D4D"/>
            <path d="M24 17.7419L24 26.6129L1.90032e-05 26.6129L1.94836e-05 17.7419L24 17.7419Z" fill="#C5C5C5"/>
            <path d="M24 8.87095L24 17.7419L1.94836e-05 17.7419L2.75934e-05 8.87095L24 8.87095Z" fill="#4D4D4D"/>
            <path d="M24 -1.76406e-07L24 8.87095L2.75934e-05 8.87095L2.80738e-05 -1.02316e-06L24 -1.76406e-07Z" fill="#C5C5C5"/>
            <path d="M29 58.8709L29 76.6129L24 76.6129L24 58.8709L29 58.8709Z" fill="#4D4D4D"/>
            <rect x="7" y="100" width="10" height="7" fill="#4D4D4D"/>
            <rect x="1" y="107" width="22" height="6" fill="#C5C5C5"/>
          </svg>
          <div #light2 class="light" [ngStyle]="{'background-color': color2}" >
            <div id = "inner-light2" class="inner-light"></div>
          </div>
        </div>
      </div>
      <div class = "vr"></div>
      <div class = "section-text" >

      </div>
    </div>

    <div id = "hobbies" class="section">
      <div id = "hobbies-drawn" class = "section-drawn" >

        <svg id = "piece-1" class = "piece" viewBox="0 0 94 94" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M52.9958 22H72V41.0042C84.1955 41.211 94 48.965 94 58.5C94 68.035 84.1955 75.789 72 75.9958V94H0V22H18.0042C18.2111 9.8045 25.965 0 35.5 0C45.035 0 52.7889 9.8045 52.9958 22Z"/>
        </svg>

        <svg id = "piece-2" class = "piece" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M72 0H52.9958C52.9986 0.166229 53 0.332901 53 0.5C53 12.9264 45.165 23 35.5 23C25.835 23 18 12.9264 18 0.5C18 0.332901 18.0014 0.166229 18.0042 0H0V19.0042C12.1955 19.211 22 26.965 22 36.5C22 46.035 12.1955 53.789 0 53.9958V72H72V0Z"/>
        </svg>

        <svg id = "piece-3" class = "piece" viewBox="0 0 94 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H72V19.0042C84.1955 19.211 94 26.965 94 36.5C94 46.035 84.1955 53.789 72 53.9958V72H52.9958C52.7889 59.8045 45.035 50 35.5 50C25.965 50 18.2111 59.8045 18.0042 72H0V0Z"/>
        </svg>

        <svg id = "piece-4" class = "piece" viewBox="0 0 72 95" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 72H18.0042C18.0014 72.1662 18 72.3329 18 72.5C18 84.9264 25.835 95 35.5 95C45.165 95 53 84.9264 53 72.5C53 72.3329 52.9986 72.1662 52.9958 72H72V0H0V19.0042C12.1955 19.211 22 26.965 22 36.5C22 46.035 12.1955 53.789 0 53.9958V72Z"/>
        </svg>

      </div>
      <div class = "vr"></div>
      <div class = "section-text" >

      </div>
    </div>

    <div id = "animals" class="section">
      <div class = "section-drawn" >
        <div id = "corvo-box" class="d-flex flex-column-reverse">
          <img id = "corvo-gif" src="../../../../assets/media/corvo.gif" alt="">
        </div>


      </div>
      <div class = "vr"></div>
      <div class = "section-text" >

      </div>
    </div>

    <p>Lorem Ipsum</p>

  </div>
</div>
