<div class = "container" >
  <h1 class="titulo">Quem Sou</h1>
  <h2 class="subtitulo">Olá, sou Ícaro Sanches, desenvolvedor e programador em ascensão</h2>

  <div class="texto">
    <div class="conteudo">
      <p>
        Com muita vontade de aprender, estou em uma jornada através do mundo da programação e desenvolvimento,
        buscando me aprimorar nas linguagens já conhecidas e aprender novas. Como possuo rápido aprendizado
        e adaptação, me encaixo muito bem em novos aprendizados. Também sou proativo e motivado por desafios, tanto que
        busco emprego com planos de carreiras, para sempre ter desafios e metas a serem alcançadas.
      </p>

      <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#leiamais" aria-expanded="false" aria-controls="leiamais">
          Leia mais
      </button>
      <div class="collapse" id="leiamais">
        <p>
          Minha história com códigos se iniciou durante meu técnico, em 2016, quando aconteceu meu primeiro contato
          com a linguagem C e um pouco de Matlab. Com o interesse surgindo no princípio, motivado pelo "poder nas
          mãos", a "mágica" de escrever algumas linhas e ver a transformação em um programa me cativou profundamente.
        </p>
        <p>
          No ano seguinte, estudei sobre programação para controladores, sistemas supervisórios, programação em blocos,
          e desde então, sempre me mantive por perto de algum tema de programação, seja Arduino (CLP's) à desenvolvimento
          em VBA para o Excel.
        </p>
        <p>
          Por fim, no meio de 2021, decidi me aprofundar mais na area e voltei a estudar linguagens já conhecidas, mas
          também busquei novas experiências, na área de back-end fiz cursos de C, C++ e Python, e na área de front-end
          e web-design cursos de HTML, CSS e JS, além de buscar conhecer o framework Bootstrap.
        </p>
        <p>
          No final do ano, decidi me realocar no mercado e no momento estou buscando entrar na área de programação e
          desenvolvimento, e junto dessa decisão, iniciei minha graduação em Análise e Desenvolvimento de Sistemas.
        </p>
      </div>
    </div>
    <div class="subconteudo">
      <h3>Graduando em ADS</h3>

      <h3 class="border-top my-5 py-4">Técnico em Automação Industrial</h3>
    </div>

    <div id = "movies" class="">
      <div id = "lightsaber-box-1" class="d-flex flex-column-reverse">
        <svg id = "" class = "lightsaber" viewBox="0 0 29 113" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24 53.2257L24 100L-2.29962e-07 100L2.30313e-06 53.2257L24 53.2257Z" fill="#C5C5C5"/>
          <path d="M24 44.3548L24 53.2257L2.30313e-06 53.2257L1.04129e-05 44.3548L24 44.3548Z" fill="#4D4D4D"/>
          <path d="M24 35.4838L24 44.3548L1.04129e-05 44.3548L1.85227e-05 35.4838L24 35.4838Z" fill="#C5C5C5"/>
          <path d="M24 26.6129L24 35.4838L1.85227e-05 35.4838L1.90032e-05 26.6129L24 26.6129Z" fill="#4D4D4D"/>
          <path d="M24 17.7419L24 26.6129L1.90032e-05 26.6129L1.94836e-05 17.7419L24 17.7419Z" fill="#C5C5C5"/>
          <path d="M24 8.87095L24 17.7419L1.94836e-05 17.7419L2.75934e-05 8.87095L24 8.87095Z" fill="#4D4D4D"/>
          <path d="M24 -1.76406e-07L24 8.87095L2.75934e-05 8.87095L2.80738e-05 -1.02316e-06L24 -1.76406e-07Z" fill="#C5C5C5"/>
          <path d="M29 58.8709L29 76.6129L24 76.6129L24 58.8709L29 58.8709Z" fill="#4D4D4D"/>
          <rect x="7" y="100" width="10" height="7" fill="#4D4D4D"/>
          <rect x="1" y="107" width="22" height="6" fill="#C5C5C5"/>
        </svg>
        <div #light1 class="light" [ngStyle]="{'background-color': color1}" >
          <div class="inner-light"></div>
        </div>
      </div>

      <div id = "lightsaber-box-2" class="d-flex flex-column-reverse">
        <svg id = "" class = "lightsaber" viewBox="0 0 29 113" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M24 53.2257L24 100L-2.29962e-07 100L2.30313e-06 53.2257L24 53.2257Z" fill="#C5C5C5"/>
          <path d="M24 44.3548L24 53.2257L2.30313e-06 53.2257L1.04129e-05 44.3548L24 44.3548Z" fill="#4D4D4D"/>
          <path d="M24 35.4838L24 44.3548L1.04129e-05 44.3548L1.85227e-05 35.4838L24 35.4838Z" fill="#C5C5C5"/>
          <path d="M24 26.6129L24 35.4838L1.85227e-05 35.4838L1.90032e-05 26.6129L24 26.6129Z" fill="#4D4D4D"/>
          <path d="M24 17.7419L24 26.6129L1.90032e-05 26.6129L1.94836e-05 17.7419L24 17.7419Z" fill="#C5C5C5"/>
          <path d="M24 8.87095L24 17.7419L1.94836e-05 17.7419L2.75934e-05 8.87095L24 8.87095Z" fill="#4D4D4D"/>
          <path d="M24 -1.76406e-07L24 8.87095L2.75934e-05 8.87095L2.80738e-05 -1.02316e-06L24 -1.76406e-07Z" fill="#C5C5C5"/>
          <path d="M29 58.8709L29 76.6129L24 76.6129L24 58.8709L29 58.8709Z" fill="#4D4D4D"/>
          <rect x="7" y="100" width="10" height="7" fill="#4D4D4D"/>
          <rect x="1" y="107" width="22" height="6" fill="#C5C5C5"/>
        </svg>
        <div #light2 class="light" [ngStyle]="{'background-color': color2}" >
          <div id = "inner-light2" class="inner-light"></div>
        </div>
      </div>
    </div>

  </div>
</div>

