<div class = "container" >

  <div id = "resume">
    <h1 class="titulo display-2" >Quem Sou</h1>
    <h2 class="subtitulo">Olá, sou Ícaro Sanches, desenvolvedor em ascensão</h2>

    <div class="text">
      <p>
        Imerso no mundo da tecnologia, no momento busco me firmar como desenvolvedor. Atualmente, possuo foco na linguagem C# e
        alguns de seus frameworks (principalmente .Net) e na ferramenta Angular, além de conhecimentos e experiências com
        bancos relacionais (com destaque para SQL), conhecimentos básicos em serviços AWS e, para versionamento de código, Git e GitHub.
      </p>
      <p>
        Sou formado como tecnólogo em Análise e Desenvolvimento de Sistemas e atualmente estou cursando pós graduação de
        Especialização em Desenvolvimento de Sistemas com C#. Também me formei como técnico em Automação Industrial.
      </p>
    </div>
  </div>

  <div id = "journey-line" class="d-flex">
    <div id = "line" ></div>

    <div id="markers" >

      <svg class = "marker" id="b" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 144.8">
        <g id="c" data-name="Camada 1">
          <path class="d" d="M87.38,29.85c-1.22-3.4-2.83-6.61-4.79-9.58C74.54,8.06,60.72,0,45,0,27.51,0,12.36,9.98,4.92,24.56l-.59,1.18C1.56,31.57,0,38.1,0,45c0,4.97.82,9.75,2.31,14.23,1.36,4.07,3.27,7.88,5.67,11.35l37.09,74.23,37.52-75.07c1.96-2.97,3.57-6.18,4.79-9.58,1.69-4.73,2.62-9.83,2.62-15.15s-.93-10.41-2.62-15.15ZM45,65c-11.05,0-20-8.95-20-20s8.95-20,20-20,20,8.95,20,20-8.95,20-20,20Z"/>
        </g>
      </svg>

      <svg class = "marker" id="b" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 144.8">
        <g id="c" data-name="Camada 1">
          <path class="d" d="M87.38,29.85c-1.22-3.4-2.83-6.61-4.79-9.58C74.54,8.06,60.72,0,45,0,27.51,0,12.36,9.98,4.92,24.56l-.59,1.18C1.56,31.57,0,38.1,0,45c0,4.97.82,9.75,2.31,14.23,1.36,4.07,3.27,7.88,5.67,11.35l37.09,74.23,37.52-75.07c1.96-2.97,3.57-6.18,4.79-9.58,1.69-4.73,2.62-9.83,2.62-15.15s-.93-10.41-2.62-15.15ZM45,65c-11.05,0-20-8.95-20-20s8.95-20,20-20,20,8.95,20,20-8.95,20-20,20Z"/>
        </g>
      </svg>

      <svg class = "marker" id="b" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 144.8">
        <g id="c" data-name="Camada 1">
          <path class="d" d="M87.38,29.85c-1.22-3.4-2.83-6.61-4.79-9.58C74.54,8.06,60.72,0,45,0,27.51,0,12.36,9.98,4.92,24.56l-.59,1.18C1.56,31.57,0,38.1,0,45c0,4.97.82,9.75,2.31,14.23,1.36,4.07,3.27,7.88,5.67,11.35l37.09,74.23,37.52-75.07c1.96-2.97,3.57-6.18,4.79-9.58,1.69-4.73,2.62-9.83,2.62-15.15s-.93-10.41-2.62-15.15ZM45,65c-11.05,0-20-8.95-20-20s8.95-20,20-20,20,8.95,20,20-8.95,20-20,20Z"/>
        </g>
      </svg>

      <svg class = "marker" id="b" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 90 144.8">
        <g id="c" data-name="Camada 1">
          <path class="d" d="M87.38,29.85c-1.22-3.4-2.83-6.61-4.79-9.58C74.54,8.06,60.72,0,45,0,27.51,0,12.36,9.98,4.92,24.56l-.59,1.18C1.56,31.57,0,38.1,0,45c0,4.97.82,9.75,2.31,14.23,1.36,4.07,3.27,7.88,5.67,11.35l37.09,74.23,37.52-75.07c1.96-2.97,3.57-6.18,4.79-9.58,1.69-4.73,2.62-9.83,2.62-15.15s-.93-10.41-2.62-15.15ZM45,65c-11.05,0-20-8.95-20-20s8.95-20,20-20,20,8.95,20,20-8.95,20-20,20Z"/>
        </g>
      </svg>

    </div>
  </div>

  <div id ="history-line">

    <h1 class="titulo py-5 display-5">Um pouco sobre minha história...</h1>

    <div class = "text-line" data-aos="fade-right">
      <div class = "timeline">
        <div class = "vr"></div>
        <div class = "circle-tl"></div>
      </div>
      <p class = "history-text">
        Minha história com códigos se iniciou durante meu técnico, em 2016, quando aconteceu meu primeiro contato
        com a linguagem C e um pouco de Matlab. Com o interesse surgindo no princípio, motivado pelo "poder nas
        mãos", a "mágica" de escrever algumas linhas e ver a transformação em um programa me cativou profundamente.
      </p>
    </div>
    <div class = "text-line" data-aos="fade-right">
      <div class = "timeline">
        <div class = "vr"></div>
        <div class = "circle-tl"></div>
      </div>
      <p class = "history-text">
        No ano seguinte, estudei sobre programação para controladores, sistemas supervisórios, programação em blocos,
        e desde então, sempre me mantive por perto de algum tema de programação, seja Arduino (CLP's) à códigos
        em VBA para o Excel.
      </p>
    </div>
    <div class = "text-line" data-aos="fade-right">
      <div class = "timeline">
        <div class = "vr"></div>
        <div class = "circle-tl"></div>
      </div>
      <p class = "history-text">
        Após algum tempo, no meio de 2021, decidi me aprofundar mais na area e voltei a estudar linguagens já conhecidas, mas
        também busquei novos conhecimentos. Na área de back-end fiz cursos de C, C++ e Python, e na área de front-end
        e web-design cursos de HTML, CSS e JS, além de buscar conhecer a ferramenta Bootstrap.
      </p>
    </div>
    <div class = "text-line" data-aos="fade-right">
      <div class = "timeline">
        <div class = "vr"></div>
        <div class = "circle-tl"></div>
      </div>
      <p class = "history-text">
        No final do ano de 2021, decidi me realocar no mercado e visando aumentar minhas oportunidades, optei por
        iniciar minha graduação de tecnólogo em Análise e Desenvolvimento de Sistemas. Em 2022, no primeiro ano da
        minha graduação, decidi me fixar no estudo de desenvolvimento web como full-stack, priorizando a linguagem C#
        e seus frameworks para back-end e, para front-end, a ferramenta Angular.
      </p>
    </div>
    <div class = "text-line" data-aos="fade-right">
      <div class = "timeline">
        <div class = "vr"></div>
        <div class = "circle-tl"></div>
      </div>
      <p class = "history-text">
        Até a conclusão da minha faculdade, em junho de 2024, além de seguir com o estudo das ferramentas priorizadas,
        também precisei sair da minha zona de conforto por necessidades maiores. Ocasionado pela faculdade, por
        precisar de ferramentas que possibilitassem desenvolvimento de projetos com maior velocidade para alguns
        trabalhos, realizei alguns projetos com o uso da ferramenta de low-code Mendix. Em paralelo, precisei iniciar
        meus estudos relacionados a área de banco de dados, devido a uma oportunidade de estágio que consegui no ano
        de 2022.
      </p>
   </div>
   <div class = "text-line" data-aos="fade-right">
    <div class = "timeline">
      <div class = "vr"></div>
      <div class = "circle-tl"></div>
    </div>
    <p class = "history-text">
      Em fevereiro de 2025 iniciei uma especialização em Desenvolvimento de Sistemas com C#, buscando me manter em
      constante estudo. A previsão de conclusão é em fevereiro de 2026.
    </p>
 </div>
  </div>

  <div id="skills-title">
    <h2 class="display-5">Minhas Habilidades</h2>
  </div>

  <br>

  <div id="skills">

    <div class = "skills-div">
      <div id="hardskills">
        <h3>Habilidades Técnicas</h3>
        <div class = "skill-box">
          <div class="col-skills">
            <div class="leg">
              C#
            </div>
            <div id="csharp">
              <div appViewportAnimationBar class = "bar"></div>
            </div>
          </div>
          <div class="col-skills">
            <div class="leg">
              Angular
            </div>
            <div id="angular">
              <div appViewportAnimationBar class = "bar"></div>
            </div>
          </div>
          <div class="col-skills">
            <div class="leg">
              C e C++
            </div>
            <div id="c-cpp">
              <div appViewportAnimationBar class = "bar"></div>
            </div>
          </div>
          <div class="col-skills">
            <div class="leg">
              SQL
            </div>
            <div id="sql" >
              <div appViewportAnimationBar class = "bar"></div>
            </div>
          </div>
        </div>
      </div>
      <div id = "softskills">
        <h3>Habilidades Comportamentais</h3>
        <div class = "skill-box">

          <div class="col-skills">
            <div class="leg">
              Rápido aprendizado
            </div>
            <div id="fast-learn">
              <div appViewportAnimationBar class = "bar"></div>
            </div>
          </div>
          <div class="col-skills">
            <div class="leg">
              Adaptabilidade
            </div>
            <div id="adapt" >
              <div appViewportAnimationBar class = "bar"></div>
            </div>
          </div>
          <div class="col-skills">
            <div class="leg">
              Proatividade
            </div>
            <div id="proat" >
              <div appViewportAnimationBar class = "bar"></div>
            </div>
          </div>
          <div class="col-skills">
            <div class="leg">
              Prudência
            </div>
            <div id="prud" >
              <div appViewportAnimationBar class = "bar"></div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div id="saibamais" class="d-flex">
    <button
      id = "saibamais-button"
      type="button"
      class="btn btn-outline-primary"
      style="margin: auto;"
      (click)="collapse.toggle()"
      [attr.aria-expanded]="!isCollapsed"
      [ngSwitch]="isCollapsed"

    >

    <div @change_justify *ngSwitchCase="true" id="ovo-button" class = "d-flex">

      <svg id="ovo_1" class="ovo" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720.14 588.9">
        <g id="c" data-name="Camada 1">
          <path class="d" d="M720.14,488.25l-78.44,88.74-84.37-61.49-89.44,73.4-89.44-91.89-97.87,35.35-79.32-56.53-59.06,113.07L0,521.32C31.54,273.12,181.84,0,362.51,0s317.6,249.48,357.63,488.25Z"/>
        </g>
      </svg>

      <svg id="ovo_2" class="ovo" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 737.21 491.61">
        <g id="c" data-name="Camada 1">
          <path class="d" d="M737.21,138.12c0,267.15-258.14,353.49-368.6,353.49C269.77,491.61,0,405.27,0,138.12c0-30.07,2.09-61.15,6.1-92.63l142.2,67.58L207.36,0l79.32,56.53,97.87-35.35,89.44,91.89,89.44-73.4,84.37,61.49,78.44-88.74c7.17,42.74,10.97,85.14,10.97,125.7Z"/>
        </g>
      </svg>
    </div>


    <div @change_justify *ngSwitchCase="false" id="ovo-button-op" class = "d-flex">

      <svg id="ovo_1_op" class="ovo" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 720.14 588.9">
        <g id="c" data-name="Camada 1">
          <path class="d" d="M720.14,488.25l-78.44,88.74-84.37-61.49-89.44,73.4-89.44-91.89-97.87,35.35-79.32-56.53-59.06,113.07L0,521.32C31.54,273.12,181.84,0,362.51,0s317.6,249.48,357.63,488.25Z"/>
        </g>
      </svg>

      <svg id="ovo_2_op" class="ovo" data-name="Camada 2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 737.21 491.61">
        <g id="c" data-name="Camada 1">
          <path class="d" d="M737.21,138.12c0,267.15-258.14,353.49-368.6,353.49C269.77,491.61,0,405.27,0,138.12c0-30.07,2.09-61.15,6.1-92.63l142.2,67.58L207.36,0l79.32,56.53,97.87-35.35,89.44,91.89,89.44-73.4,84.37,61.49,78.44-88.74c7.17,42.74,10.97,85.14,10.97,125.7Z"/>
        </g>
      </svg>
    </div>

    </button>
  </div>

  <div id = "curiosity" #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">

    <div id="curiosity-title">
      <h2 class="display-5">Curiosidades e fatos sobre mim</h2>
    </div>


    <div id = "hobbies" class="section">
      <div id = "hobbies-drawn" class = "section-drawn" >

        <svg id = "piece-1" class = "piece" viewBox="0 0 94 94" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M52.9958 22H72V41.0042C84.1955 41.211 94 48.965 94 58.5C94 68.035 84.1955 75.789 72 75.9958V94H0V22H18.0042C18.2111 9.8045 25.965 0 35.5 0C45.035 0 52.7889 9.8045 52.9958 22Z"/>
        </svg>

        <svg id = "piece-2" class = "piece" viewBox="0 0 72 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M72 0H52.9958C52.9986 0.166229 53 0.332901 53 0.5C53 12.9264 45.165 23 35.5 23C25.835 23 18 12.9264 18 0.5C18 0.332901 18.0014 0.166229 18.0042 0H0V19.0042C12.1955 19.211 22 26.965 22 36.5C22 46.035 12.1955 53.789 0 53.9958V72H72V0Z"/>
        </svg>

        <svg id = "piece-3" class = "piece" viewBox="0 0 94 72" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 0H72V19.0042C84.1955 19.211 94 26.965 94 36.5C94 46.035 84.1955 53.789 72 53.9958V72H52.9958C52.7889 59.8045 45.035 50 35.5 50C25.965 50 18.2111 59.8045 18.0042 72H0V0Z"/>
        </svg>

        <svg id = "piece-4" class = "piece" viewBox="0 0 72 95" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M0 72H18.0042C18.0014 72.1662 18 72.3329 18 72.5C18 84.9264 25.835 95 35.5 95C45.165 95 53 84.9264 53 72.5C53 72.3329 52.9986 72.1662 52.9958 72H72V0H0V19.0042C12.1955 19.211 22 26.965 22 36.5C22 46.035 12.1955 53.789 0 53.9958V72Z"/>
        </svg>

      </div>
      <div class = "vr"></div>
      <div class = "section-text text-end" >
        <h4 class="display-6">Hobbies</h4>
        <li class = "list-group-item">Adoro quebra-cabeças</li>
        <li class = "list-group-item">Sou um entusiasta por artes gráficas</li>
        <li class = "list-group-item">Sou apaixonado por esportes, apesar de um péssimo praticante</li>
      </div>
    </div>

    <div id = "animals" class="section">
      <div class = "section-drawn" >
        <div id = "corvo-box" class="d-flex flex-column-reverse align-items-center">
          <img id = "corvo-gif" src="../../../../assets/media/corvo.gif" alt="">
        </div>


      </div>
      <div class = "vr"></div>
      <div class = "section-text" >
        <h4 class="display-6">Animais</h4>
        <li class = "list-group-item">Sempre tive animais</li>
        <li class = "list-group-item">No momento tenho 3 gatos um bando de calopsitas, um canário e um hamster</li>
        <li class = "list-group-item">Tenho vontade de ter um corvo, a inteligência deles me fascina</li>

      </div>
    </div>

    <div id = "movies" class="section">
      <div class = "section-drawn" >
        <div id = "lightsaber-box-1" class="lightsaber-box d-flex flex-column-reverse">
          <svg id = "" class = "lightsaber" viewBox="0 0 29 113" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 53.2257L24 100L-2.29962e-07 100L2.30313e-06 53.2257L24 53.2257Z" fill="#C5C5C5"/>
            <path d="M24 44.3548L24 53.2257L2.30313e-06 53.2257L1.04129e-05 44.3548L24 44.3548Z" fill="#4D4D4D"/>
            <path d="M24 35.4838L24 44.3548L1.04129e-05 44.3548L1.85227e-05 35.4838L24 35.4838Z" fill="#C5C5C5"/>
            <path d="M24 26.6129L24 35.4838L1.85227e-05 35.4838L1.90032e-05 26.6129L24 26.6129Z" fill="#4D4D4D"/>
            <path d="M24 17.7419L24 26.6129L1.90032e-05 26.6129L1.94836e-05 17.7419L24 17.7419Z" fill="#C5C5C5"/>
            <path d="M24 8.87095L24 17.7419L1.94836e-05 17.7419L2.75934e-05 8.87095L24 8.87095Z" fill="#4D4D4D"/>
            <path d="M24 -1.76406e-07L24 8.87095L2.75934e-05 8.87095L2.80738e-05 -1.02316e-06L24 -1.76406e-07Z" fill="#C5C5C5"/>
            <path d="M29 58.8709L29 76.6129L24 76.6129L24 58.8709L29 58.8709Z" fill="#4D4D4D"/>
            <rect x="7" y="100" width="10" height="7" fill="#4D4D4D"/>
            <rect x="1" y="107" width="22" height="6" fill="#C5C5C5"/>
          </svg>
          <div #light1 class="light" [ngStyle]="{'background-color': color1}" >
            <div class="inner-light"></div>
          </div>
        </div>
        <div id = "lightsaber-box-2" class="lightsaber-box d-flex flex-column-reverse">
          <svg id = "" class = "lightsaber" viewBox="0 0 29 113" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M24 53.2257L24 100L-2.29962e-07 100L2.30313e-06 53.2257L24 53.2257Z" fill="#C5C5C5"/>
            <path d="M24 44.3548L24 53.2257L2.30313e-06 53.2257L1.04129e-05 44.3548L24 44.3548Z" fill="#4D4D4D"/>
            <path d="M24 35.4838L24 44.3548L1.04129e-05 44.3548L1.85227e-05 35.4838L24 35.4838Z" fill="#C5C5C5"/>
            <path d="M24 26.6129L24 35.4838L1.85227e-05 35.4838L1.90032e-05 26.6129L24 26.6129Z" fill="#4D4D4D"/>
            <path d="M24 17.7419L24 26.6129L1.90032e-05 26.6129L1.94836e-05 17.7419L24 17.7419Z" fill="#C5C5C5"/>
            <path d="M24 8.87095L24 17.7419L1.94836e-05 17.7419L2.75934e-05 8.87095L24 8.87095Z" fill="#4D4D4D"/>
            <path d="M24 -1.76406e-07L24 8.87095L2.75934e-05 8.87095L2.80738e-05 -1.02316e-06L24 -1.76406e-07Z" fill="#C5C5C5"/>
            <path d="M29 58.8709L29 76.6129L24 76.6129L24 58.8709L29 58.8709Z" fill="#4D4D4D"/>
            <rect x="7" y="100" width="10" height="7" fill="#4D4D4D"/>
            <rect x="1" y="107" width="22" height="6" fill="#C5C5C5"/>
          </svg>
          <div #light2 class="light" [ngStyle]="{'background-color': color2}" >
            <div id = "inner-light2" class="inner-light"></div>
          </div>
        </div>
      </div>
      <div class = "vr"></div>
      <div class = "section-text text-end" >
        <h4 class="display-6">Filmes</h4>
        <li class = "list-group-item">Sou aficionado por filmes, acredito que contam a história humana e podem nos moldar.</li>
        <li class = "list-group-item">Top 3 franquias (apenas filmes):</li>
        <li class = "list-group-item">&#8226; Star Wars (primeira trilogia)</li>
        <li class = "list-group-item">&#8226; Shrek</li>
        <li class = "list-group-item">&#8226; Studio Ghibli (Não é franquia, mas não posso deixar de fora)</li>
      </div>
    </div>

    <div id = "books" class="section">
      <div class = "section-drawn" >
        <div id = "sh-box" class="d-flex align-items-center">
          <svg id = "sh-svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1635.64 926.05">
            <g id="a" data-name="Camada 1">
              <path class="d" d="M0,387.49c41.84-14.38,264.54-18.73,349.52,2.18,84.98,20.92,299.41,121.6,341.25,111.14,0,0-54.92-69.3-104.6-105.91,0,0,15.68-121.6-41.84-181.73-31.05-32.45-71.61-52.72-107.51-65.13,5.72-.22,10.72-.5,14.54-.82,23.82-2.03,74.09-13.65,42.13-29.35-31.97-15.68-114.48,5.52-115.35,11.45,0,0-1.46-8.54-6.4-11.65-4.93-3.11-18.87-1.83-23.52,3.39-2.59,2.91-3.16,6.4-3.18,8.94-1.27.02-2.56.05-3.87.11-8.89-6.97-30.33-23.37-50.19-35.19-25.86-15.4-69.16-7.56-70.6,0-1.46,7.55,2.9,20.92,33.98,32.11,9.5,3.42,22.78,6.82,36.66,9.9-30.15,6.85-63.64,19.29-93.16,39.64-58.84,40.52-65.38,81.06-77.15,117.66l-36.91,23.99c-20.1,13.05-39.03,27.78-56.61,44.07L0,387.49ZM274.41,117.87c-9.3-2.9-33.11-14.24-24.98-16.84,8.14-2.62,53.31,5.02,60.43,26,2.6,7.72-26.16-6.24-35.45-9.16ZM405.31,134.04c-.06-3.52,23.45-7.72,45.08-6.91,12.18.45,29.53,2.7,29.6,5.64.06,3.11-18.97,6.6-35.47,7.04-17.84.48-39.14-2.42-39.2-5.76Z"/>
              <path class="d" d="M343.94,636.88c2.05,1.88,1.9,5.17-.33,6.85-50.28,37.82-64.27,61.78-64.27,61.78-19.57,28.55-33.02,69.34-54.54,115.81-21.53,46.47-57.81,95.63-94.51,103.27-36.69,7.64-60.21-17.15-60.21-17.15l-12.93-89.49c10.38-16.43,60.73-31.63,73.11-16.49,0,0,11.49,40.52,23.83,44.14,12.34,3.62,39.26-25.59,73.67-93.45,34.71-68.44,44.17-71,67.08-86.86,7.54-5.22,28.97-22.04,40.45-29.22,2.74-1.71,6.27-1.37,8.65.81h0Z"/>
            </g>
            <g id="b" data-name="Camada 3">
              <g>
                <path class="d" d="M1288.03,806.7c-25.43-47.54-64.12-27.4-140.41,36.72-76.28,64.12-84.02,6.63-72.97,0,11.06-6.63,18.79,3.32,18.79,3.32,0,0-1.47-9.4-16.95-12.16-15.48-2.76-20.82,13.64-22.66,16.95s-1.66,18.79,8.84,32.8,40.54,17.32,63.39,7.74c22.85-9.58,56.34-27.89,75.73-33.79,50.86-15.48,58.04-5.14,77.39-16.2,19.35-11.06,8.84-35.38,8.84-35.38Z"/>
                <path class="d" d="M1277.51,806.7c25.43-47.54,64.12-27.4,140.41,36.72,76.28,64.12,84.02,6.63,72.97,0-11.06-6.63-18.79,3.32-18.79,3.32,0,0,1.47-9.4,16.95-12.16,15.48-2.76,20.82,13.64,22.66,16.95s1.66,18.79-8.84,32.8c-10.5,14-40.54,17.32-63.39,7.74-22.85-9.58-56.34-27.89-75.73-33.79-50.86-15.48-58.04-5.14-77.39-16.2-19.35-11.06-8.84-35.38-8.84-35.38Z"/>
              </g>
              <path class="d" d="M1063.09,399.89s-4.53-90.62,37.76-141.98c42.29-51.35,80.05-110.26,188.8-111.77,108.75-1.51,131.4,22.66,190.31,64.95s42.29,232.6,42.29,232.6c0,0,52.86,13.59,80.05,7.55,27.19-6.04,31.72,9.06,33.23,18.12,1.51,9.06-11.33,20.39-41.54,29.45-30.21,9.06-89.12-8.86-273.38-18.12-285.46-14.35-280.18,9.82-361.74-26.43-11.87-5.28-37-15.1-26.43-36.25,7.72-15.43,17.91-3.98,49.89-.53,18.83,2.04,58.13-13.44,80.76-17.6Z"/>
            </g>
          </svg>
        </div>
      </div>
      <div class = "vr"></div>
      <div class = "section-text" >
        <h4 class="display-6">Livros</h4>
        <li class = "list-group-item">Livros são mais poderosos que filmes e neles, somos agente da narrativa com nossa imaginação</li>
        <li class = "list-group-item">Top 3 coletâneas:</li>
        <li class = "list-group-item">&#8226; Sherlock Holmes</li>
        <li class = "list-group-item">&#8226; Senhor dos Anéis</li>
        <li class = "list-group-item">&#8226; Qualquer bom livro sobre mitologia</li>
      </div>
    </div>



    <br>

  </div>
</div>
