@keyframes open-egg {
  0% {
    transform: rotate(0deg) translate(0, 100%);
  }
  100% {
    transform: rotate(-180deg) translate(0, -100%);
  }
}

@keyframes color-egg {
  0% {
    fill: var(--gray);
    opacity: 0.1;
  }
  100% {
    fill: goldenrod;
    opacity: 1;
  }
}

@keyframes grow-egg {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(2);
  }
}

@keyframes saber {
  0%{
    height: 0;
  }
  20%{
    height: 15vh;
  }
  60%{
    height: 15vh;
  }
  80%{
    height: 0;
  }
  100%{
    height: 0;
  }
}

@keyframes piece-1 {
  0%{
    left: 10%;
    bottom: 25%;
    transform: rotate(154deg);
  }

  7%{
    left: 10%;
    bottom: 25%;
    transform: rotate(154deg);
  }

  18%{
    left: 45%;
    bottom: 45%;
    transform: rotate(540deg);
  }

  50%{
    left: 45%;
    bottom: 45%;
    transform: rotate(540deg);

  }

  71%{
    left: 10%;
    bottom: 25%;
    transform: rotate(154deg);
  }

  100%{
    left: 10%;
    bottom: 25%;
    transform: rotate(154deg);
  }
}

@keyframes piece-2 {
  0%{
    right: 14%;
    bottom: 37%;
    transform: rotate(237deg);
  }

  15%{
    right: 14%;
    bottom: 37%;
    transform: rotate(237deg);
  }

  26%{
    right: 50%;
    bottom: 50%;
    transform: rotate(540deg);
  }

  60%{
    right: 50%;
    bottom: 50%;
    transform: rotate(540deg);
  }

  71%{
    right: 14%;
    bottom: 37%;
    transform: rotate(237deg);
  }

  100%{
    right: 14%;
    bottom: 37%;
    transform: rotate(237deg);
  }
}

@keyframes piece-3 {
  0%{
    left: 8%;
    top: 15%;
    transform: rotate(83deg);
  }

  23%{
    left: 8%;
    top: 15%;
    transform: rotate(83deg);
  }

  34%{
    left: 45%;
    top: 50%;
    transform: rotate(540deg);
  }

  70%{
    left: 45%;
    top: 50%;
    transform: rotate(540deg);
  }

  82%{
    left: 8%;
    top: 15%;
    transform: rotate(83deg);
  }

  100%{
    left: 8%;
    top: 15%;
    transform: rotate(83deg);
  }
}

@keyframes piece-4 {
  0%{
    right: 13%;
    top: 30%;
    transform: rotate(170deg);
  }

  30%{
    right: 13%;
    top: 30%;
    transform: rotate(170deg);
  }

  46%{
    right: 50%;
    top: 46%;
    transform: rotate(540deg);
  }

  82%{
    right: 50%;
    top: 46%;
    transform: rotate(540deg);
  }

  93%{
    right: 13%;
    top: 30%;
    transform: rotate(170deg);
  }

  100%{
    right: 13%;
    top: 30%;
    transform: rotate(170deg);
  }
}


@keyframes grow-height {
  0%{
    height: 0;
  }
  100%{
    height: 100%;
  }
}

@keyframes grow-width {
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

@keyframes opacity-increase {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}

.container{
  max-width: 1024px;
}

.marker{
  margin: 0 auto;
  height: 0;
  max-height: 25%;
  fill: var(--text-color);
  opacity: 0.85;
}

.marker:nth-child(even){
  transform: translateY(-50%);
}

.marker:nth-child(odd){
  transform: rotate(180deg) translateY(-50%);
}

.marker:nth-child(1){
  animation: grow-height 1s normal 1500ms ease-in 1 forwards;
}

.marker:nth-child(2){
  animation: grow-height 1s normal 2000ms ease-in 1 forwards;
}

.marker:nth-child(3){
  animation: grow-height 1s normal 2500ms ease-in 1 forwards;
}

.marker:nth-child(4){
  animation: grow-height 1s normal 3000ms ease-in 1 forwards;
}

.text-line{
  display: flex;
  align-items: stretch;
}

.timeline{
  display: flex;
  width: 20%;
  background-color: transparent;
  align-items: center;
  position: relative;
  color: var(--text-color);
}

.circle-tl{
  content: "";
  width: 2rem;
  height: 2rem;
  background-color: var(--text-color);
  border-radius: 50%;
  position: absolute;
  right: 50%;
  translate: 50% 0;
}

.timeline .vr{
  margin: auto;
  width: 0.3rem;
}

.history-text{
  width: 80%;
  margin: 2.5% 0;
}

@media (max-width: 768px) {
  .skills-div{
    display: block;
  }

  #hardskills,
  #softskills{
    width: 100%;
    border-top: 2px var(--gray) ridge;
    align-content: center;
  }
}

@media (min-width: 769px) {
  .skills-div{
    display: flex;
  }

  #hardskills,
  #softskills{
    width: 50%;
    align-content: center;
  }
}

.skill-box{
  height: 30vh;
  width: 100%;
  padding: 2vh 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 25%);
  box-sizing: content-box;
}

.col-skills{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  border-block: 2px  solid var(--gray);
  box-sizing: content-box;
}

.bar{
  background-image: linear-gradient(to top, var(--rain) 0%, var(--btn-hover) 100%);
  width: 5vh;
  align-self: center;
}

.animate-bar{
  animation: grow-height 1s ease-in 0.5s 1 normal forwards;
}

.leg{
  height: 20%;
  max-width: 100%;
  text-align: center;
  align-content: center;
  border-top: 2px  solid var(--text-color);
  word-wrap: break-word;
  padding: 0 0.5vh;
  box-sizing: content-box;
}

.ovo{
  width: 50%;
  background: none;
  position: absolute;
}

.section {
  display: flex;
  align-items: start;
  height: 20vh;
  width: 100%;
  margin: 5% 0;
}

.section-drawn{
  width: 20%;
  height: 100%;
  display: flex;
  justify-content: center;
}

.section-text{
  width: 80%;
  height: 100%;
}

.vr {
  height: 100%;
  width: 0.3%;
  border-radius: 2em;
  padding: 0;
  margin: 0 2.5%;
}

.lightsaber-box{
  z-index: +1;
  width: auto;
  height: 20vh;
}

.light {
  content: "";
  animation: saber 5s normal infinite;
  width: 1vh;
  display: flex;
  border-radius: 1vh 1vh 0 0;
}

.inner-light {
  content: "";
  animation: saber 5s normal infinite;
  background-color: var(--text-color);
  width: 0.4vh;
  max-height: 95%;
  display: flex;
  margin: auto;
  border-radius: 1vh 1vh 0 0;
}

.lightsaber{
  z-index: +1;
  width: auto;
  height: 5vh;
}

.piece{
  position: relative;
  width: 20% * calc(72/94);
  aspect-ratio: 1/1;
}

#journey-line {
  height: 20vh;
  position: relative;
}

#line {
  height: 0.1vh;
  width: 0;
  background-color: var(--text-color);
  position: absolute;
  top: 50%;
  animation: grow-width 2s normal 1000ms ease-in 1 forwards;
}

#markers{
  height: 100%;
  width: 100%;
  display: flex;
  position: relative;
  justify-content: space-evenly;
  align-items: center;
}

#resume{
  opacity: 0;
  animation: opacity-increase 2s normal ease-in 1 forwards;
}

#history-line{
  font-weight: lighter;
  opacity: 0;
  animation: opacity-increase 2s normal 3000ms ease-in 1 forwards;
}

#skills{
  background-color: #1f1f1f;
  border-block: 2px var(--gray) ridge;
  padding-top: 5%;
  margin-bottom: 5%;
}

#skills-title{
  text-align: center;
  width: 100%;
  margin: 5% 0;
}

#softskills,
#hardskills{
  padding: 2vh;
  text-align: center;
}

#csharp{
  height: 40%;
  display: flex;
  flex-direction: column-reverse;
}

#angular{
  height: 40%;
  display: flex;
  flex-direction: column-reverse;
}

#c-cpp{
  height: 32%;
  display: flex;
  flex-direction: column-reverse;
}

#sql{
  height: 32%;
  display: flex;
  flex-direction: column-reverse;
}

#fast-learn{
  height: 72%;
  display: flex;
  flex-direction: column-reverse;
}

#adapt{
  height: 64%;
  display: flex;
  flex-direction: column-reverse;
}

#proat{
  height: 64%;
  display: flex;
  flex-direction: column-reverse;
}

#prud{
  height: 64%;
  display: flex;
  flex-direction: column-reverse;
}

#saibamais-button{
  background: none;
  border: none;
}

#ovo-button{
  width: 5vw;
  max-height: 200%;
  aspect-ratio: 1.45;
  position: relative;
  animation: grow-egg 2s reverse forwards ease-in-out;

  transition: all 500ms;
}

#ovo-button:hover{
  scale: 2;
  opacity: 1;
}

#ovo-button-op{
  width: 5vw;
  aspect-ratio: 1.45;
  position: relative;
  animation: grow-egg 2s normal forwards ease-in-out;
}

#ovo_1{
  left: 0;
  top: 0;
  animation: color-egg 2s reverse forwards ease-in-out;
}

#ovo_1_op{
  left: 0;
  top: 0;
  animation: color-egg 2s normal forwards ease-in-out;
}

#ovo_2{
  animation: open-egg 2s reverse forwards ease-in-out, color-egg 2s reverse forwards ease-in-out;
  transform-origin: 100% 0%;
}

#ovo_2_op{
  animation: open-egg 2s normal forwards ease-in-out, color-egg 2s normal forwards ease-in-out;
  transform-origin: 100% 0%;
}

#curiosity{

}

#curiosity-title{
  text-align: center;
  width: 100%;
  margin: 5% 0;
}

#movies {
  float: right;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

#lightsaber-box-1{
  rotate: 15deg;
}

#lightsaber-box-2{
  rotate: -15deg;
}

#hobbies{
  float: right;
  justify-content: flex-end;
  flex-direction: row-reverse;
}

#hobbies-drawn{
  position: relative;
}

#piece-1{
  position: absolute;
  width: 20%;
  aspect-ratio: 1/1;
  fill: #C50059;
  left: 0;
  bottom: 0;
  animation: piece-1 10s alternate infinite;
}

#piece-2{
  position: absolute;
  width: 20% * calc(72/94);
  aspect-ratio: 1/1;
  fill: #3868A6;
  right: 0;
  bottom: 0;
  animation: piece-2 10s alternate infinite;
}

#piece-3{
  position: absolute;
  width: 20%;
  aspect-ratio: 94/72;
  fill: #025959;
  left: 0;
  top: 0;
  animation: piece-3 10s alternate infinite;
}

#piece-4{
  position: absolute;
  width: 15%;
  aspect-ratio: 72/94;
  fill: #F2EB8C;
  right: 0;
  top: 0;
  animation: piece-4 10s alternate infinite;
}

#corvo-gif{
  width: 100%;
  max-height: 100%;
  aspect-ratio: 1/1;
  border-radius: 50%;
}

#books{

}

#sh-box{
  width: 100%;
  height: auto;
  max-height: 100%;
}

#sh-svg{
  fill: var(--back-black);
  width: 100%;
  aspect-ratio: 1/1;
  max-height: 100%;
  border-radius: 50%;
  background-color: var(--text-color);
}
