<div class="container">
  <h1 class="titulo display-2">Diplomas e Certificados</h1>
  <p class="fs-2 my-5 d-block" >Abaixo, os diplomas e certificados conquistados ao longo de minha trajetória</p>

  <div id="list-comp ">
    <!-- Iterate over gallery and description and sets class to align left or right based on odd/even iteration value -->
    @for (item of img_dip; track item; let i = $index) {
      @if (i%2!=0){
        <div class = "item-line-rev mh-100" >
          <div class="leg-rev d-flex align-items-center ">
            <h3>{{descr_dip[$index]}}</h3>
          </div>
          <div class="img-container align-self-stretch">
            <p-image
              [src]="item"
              alt="{{descr_dip[$index]}}"
              [preview]="true"
              class = "object-fit-cover rounded"
              imageClass="imgPrev"
              >
            </p-image>
          </div>
        </div>
      } @else {
        <div class = "item-line mh-100" >
          <div class="leg d-flex align-items-center ">
            <h3>{{descr_dip[$index]}}</h3>
          </div>
          <div class="img-container align-self-stretch">
            <p-image
              [src]="item"
              alt="{{descr_dip[$index]}}"
              [preview]="true"
              class = "object-fit-cover rounded "
              imageClass="imgPrev"
              >
            </p-image>
          </div>
        </div>
      }
    }

    @for (item of img_cert; track item; let i = $index) {
      @if (i%2!=0){
        <div class = "item-line-rev mw-100" >
          <div class="leg-rev d-flex align-items-center ">
            <h3>{{descr_cert[$index]}}</h3>
          </div>
          <div class="img-container align-self-stretch">
            <p-image
              [src]="item"
              alt="{{descr_cert[$index]}}"
              [preview]="true"
              class = ""
              imageClass="imgPrev"
              >
            </p-image>
          </div>
        </div>
      } @else {
        <div class = "item-line mw-100">
          <div class="leg d-flex align-items-center ">
            <h3>{{descr_cert[$index]}}</h3>
          </div>
          <div class="img-container align-self-stretch">
            <p-image
              [src]="item"
              alt="{{descr_cert[$index]}}"
              [preview]="true"
              class = ""
              imageClass="imgPrev"
              >
            </p-image>
          </div>
        </div>
      }
    }
  </div>
  <p class="fs-2 my-5 d-block" >Em breve, mais</p>


</div>
