<div class="container">
  <h1 class="titulo">Cursos e Certificados</h1>
  <h2 class="subtitulo">Abaixo, os cursos e certificados conquistados ao longo do período</h2>

  <div class = "">
    <p>
      Diplomas de Graduado em Análise e Desenvolvimento de Sistema e Técnico em Automação Industrial, as conquistas com maior destaque.
    </p>
    <app-diplomas></app-diplomas>
  </div>
  <div>
    <p>
      Certificados de demais cursos relacionados à minha área de atuação.
    </p>
    <app-certif></app-certif>
  </div>
</div>
