<div class="container">
  <h1 class="titulo display-2">Diplomas e Certificados</h1>
  <p class="fs-2 my-5 d-block" >Abaixo, os diplomas e certificados conquistados ao longo de minha trajetória</p>

  <div id="list-comp">
    <!-- Iterate over gallery and description and sets class to align left or right based on odd/even iteration value -->
    <div id="diplomas" >
      <h2 class="titulo display-3">Diplomas e Certificados Acadêmicos</h2>
      <p>Veja aqui minhas formações acadêmicas.</p>
      <p-galleria
        [value]="imagesDip"
        [autoPlay]="true"
        [circular]="true"
        [containerStyle]="{ 'width': '80%', 'margin': '0 auto' }"
        [numVisible]="3"
        [showThumbnails]="true">

          <ng-template pTemplate="item" let-item>
              <img [src]="item.img" [alt]="item.desc" style="width: 100%; display: block; aspect-ratio: 10/7;" />
          </ng-template>

          <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                  <img [src]="item.img" [alt]="item.desc" style="width: 100%; max-height: 80px; object-fit: cover; display: block;" />
              </div>
          </ng-template>

          <ng-template pTemplate="caption" let-item>
              <div class="text-xl mb-2 font-bold">{{ item.desc }}</div>
          </ng-template>
      </p-galleria>
      <hr class = 'w-100'/>
    </div>


    <div id="certificados">
      <div class = "my-5 d-block">
        <h2 class="titulo display-3">Outros Certificados</h2>
        <p class = "fs-3" >Veja aqui outros cursos.</p>
      </div>
      <p-galleria
        [value]="imagesCert"
        [autoPlay]="true"
        [circular]="true"
        [containerStyle]="{ 'width': '80%', 'margin': '0 auto' }"
        [numVisible]="3"
        [showThumbnails]="true">

          <ng-template pTemplate="item" let-item>
              <img [src]="item.img" [alt]="item.desc" style="width: 100%; display: block; aspect-ratio: 10/7;" />
          </ng-template>

          <ng-template pTemplate="thumbnail" let-item>
              <div class="grid grid-nogutter justify-content-center">
                  <img [src]="item.img" [alt]="item.desc" style="width: 100%; max-height: 80px; object-fit: cover; display: block;" />
              </div>
          </ng-template>

          <ng-template pTemplate="caption" let-item>
              <div class="text-xl mb-2 font-bold">{{ item.desc }}</div>
          </ng-template>
      </p-galleria>
      <hr class = 'w-100'/>
    </div>
  </div>
</div>


