<div class = "container">
  <h1 class="titulo display-2">Projetos</h1>
  <h2 class="subtitulo display-6">Alguns dos projetos realizados</h2>
  <p>
    Alguns dos projetos feitos ao longo da minha trajetória são destacados abaixo.
    Meu <a href="https://github.com/igfsa?tab=repositories">Github</a> possui mais projetos e materiais produzidos.
  </p>

  <div id = "apps-sites" class = "section">
    <h2 class="display-5">Aplicações e sites</h2>
    <div class="item-line">
      <img src="../../../../assets/projetos/portfolio.png" alt="" class="prev object-fit-scale rounded ">
      <div class="item-text">
        <h3 class="display-6">Portfólio</h3>
        <p>
          Sendo este site, é um projeto de portfolio inicialmente criado em <a href="https://riss.com.br/v1">2021</a> e reformulado em 2024.
        </p>
        <p>
          Atualmente feito para Web com Angular, utilizando Bootstrap e Angular Bootstrap,
          além das bibliotecas AoS, Gsap e PrimeNG.
        </p>
        <p>
          Inicialmente feito com HTML e CSS, além de Bootstrap.
        </p>
        <p>
          Disponível no <a href="https://github.com/igfsa/portfolio">GitHub</a>.
        </p>
      </div>
    </div>

  </div>

  <div id = "others" class = "section">
    <h2 class="display-5">Outros projetos e materiais para consulta</h2>
    <div class="item-line">
      <img src="../../../../assets/projetos/git-github-repository.png" alt="" class="prev object-fit-scale rounded ">
      <div class="item-text">
        <h3 class="display-6">Repositório Git e GitHub</h3>
        <p>
          Repositório para auxiliar no uso das plataformas Git e GitHub.
          Também possui instruções para uso de arquivos markdown (.md).
        </p>
        <p>
          Criado inicialmente para curso sobre as plataformas, mas posteriormente
          foi modificado para servir de material de consulta.
          Atualizado de acordo com o uso para incluir ou melhorar material sobre as
          plataformas.
        </p>
        <p>
          Disponível no <a href="https://github.com/igfsa/git_github">GitHub</a>.
        </p>
      </div>
    </div>

    <div class="item-line">
      <img src="../../../../assets/projetos/aws-repository.png" alt="" class="prev object-fit-scale rounded ">
      <div class="item-text">
        <h3 class="display-6">Repositório AWS</h3>
        <p>
          Repositório para auxiliar no uso da plataforma AWS.
        </p>
        <p>
          Criado para curso sobre a plataforma, com intenção de ser utilizado como material de consulta posterior.
          Atualizado de acordo com estudos sobre novos recursos, bem como com o uso para incluir ou melhorar material
          sobre a plataforma.
        </p>
        <p>
          Disponível no <a href="https://github.com/igfsa/aws">GitHub</a>.
        </p>
      </div>
    </div>

    <div class="item-line">
      <img src="../../../../assets/projetos/dotnet-repository.png" alt="" class="prev object-fit-scale rounded ">
      <div class="item-text">
        <h3 class="display-6">Repositório .net</h3>
        <p>
          Repositório para curso sobre .net pelo José Carlos Macoratti.
        </p>
        <p>
          Mostra uma Web Api, uma Web Api minima e uma Web Api minima com Dappper, todas realizando processos de CRUD
          em um banco de dados.
        </p>
        <p>
          Criado para curso sobre a ferramenta intenção de ser utilizado como material de consulta posterior.
          Atualizado de acordo com estudos sobre novos recursos, bem como com o uso para incluir ou melhorar material
          sobre a plataforma. Posteriormente é idealizado um front, além de hospedagem em um ambiente Web.
        </p>
        <p>
          Disponível no <a href="https://github.com/igfsa/dotnet">GitHub</a>.
        </p>
      </div>
    </div>

  </div>

</div>
