<footer>
  <div class="copyr">
    <span>&copy;2022 Ícaro Sanches</span>
  </div>


  <ul class="contato" id="contato">
      <h4>Contato</h4>
      <li class="contatolinha">
          <a href="https://www.linkedin.com/in/%C3%ADcaro-sanches-66b962156" target="_blank"><img class="logo" src="../../../assets/media/logo-linkedin-square.jpg"> Ícaro Sanches</a>
      </li>
      <li class="contatolinha">
          <a href="https://api.whatsapp.com/send?phone=5531994897431" target="_blank"><img class="logo" src="../../../assets/media/whatsapp-logo.png">55 (31) 99489-7431</a>
      </li>
      <li class="contatolinha">
        <a href="mailto:igfsaicaro@gmail.com" target="_blank"><img src="../../../assets/media/gmail_logo.png" class="logo">igfsaicaro&#64;gmail.com</a>
    </li>
    <li class="contatolinha">
      <a href="https://github.com/igfsa" target="_blank"><img src="../../../assets/media/logo_github.png" class="logo">igfsa</a>
  </li>
  </ul>

  <!--js bootstrap-->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
  <!--jquery-->
  <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
  <!--js-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

  <script src="./js/js_cursos.js"></script>

</footer>
