footer{
  background-image: linear-gradient(to right, var(--back-header-sec) 0%, var(--back-header) 100%);
  padding-left: 5%;
  padding-right: 5%;
  height: 15vh;
}

footer a{
  padding-right: 2rem;
}

.contato{
  list-style: none;
}

.contatolinha img{
  border-radius: 3px;
}

.contatolinha{
  min-width: 200px;
}
